/* ---------------- RESETS ---------------- */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(to right top, #d0d1ff, #c8e7ff);
  font-family: 'Poppins', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

main {
  /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
}
.App {
  text-align: center;
  /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
  

}


/* ----------- NAVBAR ----------- */
.navbar {
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  color: #6c5b7b;
  margin: 12px 10px;
  border: 2px solid lavender;
  background-color: lavender;
  padding: 4px 5px;
  border-radius: 5px;
}

/* ----------- MAIN PAGE / INDEX ----------- */
.title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 5vw;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  min-height: 100vh;
  
  justify-self: center;
  align-self: center;
  overflow: hidden;
}


/* ----------- DAILY WINS ----------- */
.dailywins_title {
  font-family: 'Mali', cursive;
  text-align: center; 
  justify-content: center;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
  color: #6c5b7b;
  
}
.dailywin_container {
  margin: 30px 20px;
  max-width: 1000px;
  margin: 0 auto;
  /* background: linear-gradient(to right top,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3) ); */
}
.dailywin {
  border: 3px solid lavender;
  box-shadow: 5px 10px rgb(199, 199, 219);
  border-radius: 5px;
  background-color: lavender;
  /* background-color: #d0d1ff; */
  max-width: 500px;
  padding: 2px 10px;
  font-family: 'Shadows Into Light Two', cursive;
  /* font-family: 'Nanum Pen Script', cursive; */
  /* font-family: 'Chilanka', cursive; */
  /* font-family: 'Nothing You Could Do', cursive; */
  /* font-family: 'Reenie Beanie', cursive; */

  letter-spacing: 1.5px;
  margin: 30px auto;
  /* margin: 30px 20px; */

  /* margin: 0 auto; */
}

.dailywin_list {
  /* letter-spacing: 1.8px; */
  /* font-weight: bolder; */
}

.dailywin h4 {
  font-family: 'Poppins', sans-serif;
  margin-left: 15px;
  font-size: 16px;
  color: #6c5b7b

}
.dailywin_button_div {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  
}
.dailywin_button {
  background-color: #d0d1ff;
  border-color: #d0d1ff;
  border-radius: 10px;
  padding: 20px 180px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #6c5b7b;

}

.dailywin_button:hover {
  opacity: 0.8;
}


/* ----------- ADD DAILY WIN ----------- */
input {
  font-family: 'Shadows Into Light Two', cursive;
  border: none;
  background-color: lavender;
  /* background-color: #d0d1ff; */
  letter-spacing: 1.5px;
  padding: 2px 10px;
  font-size: 15px;
}


.newEntry_container {
  border: 3px solid lavender;
  border-radius: 5px;
  background-color: lavender;
  /* background-color: #d0d1ff; */
  max-width: 500px;
  padding: 2px 10px;
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 1.5px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  color: #6c5b7b;

}
.newEntry_date {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.newEntry_date input {
  color: #6c5b7b;
}
.newEntry_wins {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.newEntry_wins input {
  margin-bottom: 10px;
  color: #6c5b7b;
}

.newEntry_button {
  background-color: #d0d1ff;
  /* background-color: lavender; */
  border-radius: 5px;
  padding: 5px 40px;
  margin: 0 auto;
  letter-spacing: 1.5px;
  font-family: 'Poppins', sans-serif;
  color: #6c5b7b
}

.newEntry_button:hover {
  opacity: 0.8;
}

