/* ---------------- RESETS ---------------- */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


.App {
  text-align: center;
}


/* ----------- NAVBAR ----------- */
.navbar {
  margin-top: 25px;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  
}

.navbar a {
  text-decoration: none;
  color: black;
  margin: 12px 10px;
  border: 2px solid lavender;
  background-color: lavender;
  padding: 4px 5px;
  border-radius: 5px;
}

/* ----------- MAIN PAGE / INDEX ----------- */
.title {
  text-align: center;
  justify-content: center;
  font-size: 5vw;
  
}


/* ----------- DAILY WINS ----------- */
.dailywins_title {
  font-family: 'Mali', cursive;
  text-align: center; 
  justify-content: center;
  font-size: 40px;
  /* font-family: 'La Belle Aurore', cursive; */
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 5px;
  color: #6c5b7b;
  
}
.dailywin_container {
  margin: 30px 20px;
  max-width: 1000px;
  margin: 0 auto;
}
.dailywin {
  border: 3px solid lavender;
  box-shadow: 5px 10px lavender;
  border-radius: 5px;
  /* background-color: lavender; */
  max-width: 500px;
  padding: 2px 10px;
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 1.5px;
  margin: 30px auto;
  /* margin: 30px 20px; */
  
  
  /* margin: 0 auto; */
}

.dailywin h4 {
  /* font-family: 'Mali', cursive; */
  /* font-family: 'La Belle Aurore', cursive; */
  font-family: 'Shadows Into Light Two', cursive;
  margin-left: 15px;
  font-size: 16px;

}
.dailywin_button_div {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.dailywin_button {
  background-color: #d0d1ff;
  border-color: #d0d1ff;
  border-radius: 10px;
  padding: 20px 180px;
  font-size: 20px;
  font-family: 'Shadows Into Light Two', cursive;
  /* font-family: 'Mali', cursive; */
}

.dailywin_button:hover {
  opacity: 0.6;
}


/* ----------- ADD DAILY WIN ----------- */
input {
  font-family: 'Shadows Into Light Two', cursive;
  border: none;
  background-color: lavender;
  letter-spacing: 1.5px;
  padding: 2px 10px;
  font-size: 15px;
}


.newEntry_container {
  border: 3px solid lavender;
  border-radius: 5px;
  background-color: lavender;
  max-width: 500px;
  padding: 2px 10px;
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 1.5px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;

}
.newEntry_date {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 20px;
}
.newEntry_wins {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.newEntry_wins input {
  margin-bottom: 10px;
}

.newEntry_button {
  background-color: #d0d1ff;
  border-radius: 5px;
  padding: 5px 40px;
  margin: 0 auto;
  letter-spacing: 1.5px;
  /* box-shadow: 5px 10px #d0d1ff; */
}

.newEntry_button:hover {
  opacity: 0.6;
}